@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.main-container {
    background-color: #1b1b1b;
    padding-bottom: 20px;

}

.popular-book-heading {
    font-family: Bree Serif;
    color: #ffffff;
    font-size: 42px;
    font-weight: 200;
}

.card-container {
    background-color: #e6f6ff;
    padding-top: 13px;
    padding-bottom: 13px;
    border-radius: 10px;
}

.card-image {
    height: 250px;
    width: 170px;
}

.card-image-two {
    height: 350px;
    width: 350px;
}

.card-heading {
    font-family: Bree Serif;
    font-size: 22px;
    color: #183b56;
}

.card-paragraph-one {
    font-family: Bree Serif;
    font-size: 18px;
    color: #06070d;
}

.card-paragraph-two {
    font-family: Bree Serif;
    color: #9aa5b1;
    color: #183b56;
    font-weight: lighter;
}

.card-button {
    width: 110px;
    padding: 10px;
    font-size: 17px;
}

.recommended-heading {
    color: #ffffff;
    font-family: Bree serif;
    font-size: 28px;
    padding-top: 10px;
}

.mini-image {
    height: 175px;
}

.mini-heading {
    color: #ffffff;
    font-family: Bree serif;
    font-size: 23px;
}

.mini-description {
    color: #9aa5b1;
    font-family: Bree serif;
    font-size: 16px;
}

.mini-button {
    width: 110px;
    padding: 9px;
    font-family: Roboto;

}

.page-cont {
    text-align: center;
}

.detailed-image {
    height: 350px;
    width: 230px;

}

.page-heading {
    color: #ffffff;
    font-family: Bree serif;
    font-size: 35px;
}

.page-author {
    color: #9aa5b1;
    font-family: Bree serif;
    font-size: 17px;

}

.page-description {
    color: #e4e7eb;
    text-align: left;
    font-family: Bree serif;
    font-size: 17px;

}

.back-button {
    color: #06070d;
    width: 80px;
    font-family: Roboto;
    font-size: 16px;
    padding: 8px;
}

.buy-now {
    color: #ffffff;
    font-family: Roboto;
    font-size: 16px;
    padding: 8px;
    width: 100px;
}